*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html , body{
    width:100%;
    height:100%;
}
#main{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#cf99ff,#95c0ff);
    padding-top: 45px;
    padding-left: 75px;
}
h1{
    color:white;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap:3px;
}
h1 img{
    width:40px;
}
button{
    background:linear-gradient(90deg,#9418fd,#571094);
    border-radius: 30px;
    color:#fff;
    border:none;
    outline: none;
    padding:6px 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin:20px 0;
    margin-top: 25px;
    cursor: pointer;
    box-shadow:2px 2px 1px #e4dfe9;
    transition: all 0.3s ease 0s;
}
button:hover{
    transform: scale(1.02);
    font-weight: 600;
}
button img{
    width:20px;
}
#notes-container .text-area{
    width:350px;
    height:fit-content;
    min-height: 100px;
    background-color:#fff;
    border-radius: 6px;
    border:none;
    outline: none;
    padding: 15px;
    font-size: 12px;
    color:#333;
    position: relative;
}
.text-area img{
    width: 15px;
    position: absolute;
    bottom:8px;
    right:8px;
    cursor: pointer;
}